#jinja2: trim_blocks:False
# {{ ansible_managed }}



<VirtualHost *:80>
  ServerName {{ jupyter_domain_primary }}
  ServerAlias *.user.{{ jupyter_domain_primary }}{% if jupyter_domain_alts %} {{ jupyter_domain_alts }}{% endif %}

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>



<VirtualHost *:443>
  ServerName {{ jupyter_domain_primary }}
  {% if jupyter_domain_alts %}ServerAlias {{ jupyter_domain_alts }}
  {% endif %}
  SSLCertificateKeyFile {{ apache_key }}
  SSLCertificateFile {{ apache_crt }}
  SSLCertificateChainFile {{ apache_fullchain }}

  <Location /Shibboleth.sso>
    SetHandler shib
  </Location>
  # Don't reverse proxy this location
  ProxyPass /Shibboleth.sso !

  # Require EITHER internal IP OR shibboleth
  <Location "/">
    <If "-R '130.233.97.225' || ! -R '{{ jupyter_aalto_ip_range }}'" >
      AuthType shibboleth
      ShibUseEnvironment On
      ShibRequestSetting requireSession true
      <RequireAll>
        Require valid-user
        Require expr %{REMOTE_USER} =~ /@{{jupyter_trusted_shib_domain}}$/
        Require usergrouplua
      </RequireAll>
    </If>
  </Location>
  <Location "/user">
    <If "-R '130.233.97.225' || ! -R '{{ jupyter_aalto_ip_range }}'" >
      ShibRequestSetting requireSession true
      <RequireAll>
        Require valid-user
        Require expr %{REMOTE_USER} =~ /@{{jupyter_trusted_shib_domain}}$/
      </RequireAll>
    </If>
  </Location>

  {% include 'apache.common.j2'%}
</VirtualHost>



#<VirtualHost *:443>
#  ServerName user.{{ jupyter_domain_primary }}
#  ServerAlias *.user.{{ jupyter_domain_primary }}
#  SSLCertificateKeyFile {{ apache_key_user }}
#  SSLCertificateFile {{ apache_crt_user }}
#  SSLCertificateChainFile {{ apache_fullchain_user }}
#
#  {#% include 'apache.common.j2' %#}
#</VirtualHost>

