# {{ ansible_managed }}

<VirtualHost *:80>
  ServerName {{ jupyter_domain_primary }}
  {% if jupyter_domain_alts %} ServerAlias {{ jupyter_domain_alts }}{% endif %}

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

</VirtualHost>

<VirtualHost *:443>
  ServerName {{ jupyter_domain_primary }}
  {% if jupyter_domain_alts %} ServerAlias {{ jupyter_domain_alts }}{% endif %}

  SSLEngine On
  #SSLAppName QIBM_HTTP_SERVER_APPNAME
  #SSLClientAuth None
  SetEnv HTTPS_PORT 443
  SSLCipherSuite HIGH:!aNULL:!MD5
  SSLProtocol all -SSLv2 -SSLv3 -TLSv1
  Header always set Strict-Transport-Security "max-age=604800; includeSubDomains"

  SSLCertificateKeyFile {{ apache_key }}
  SSLCertificateFile {{ apache_crt }}
  SSLCertificateChainFile {{ apache_fullchain }}

  ProxyPreserveHost on

  <Location /secure>
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    Require valid-user
  </Location>
  <Location /Shibboleth.sso>
    SetHandler shib
  </Location>
  # Don't reverse proxy this location
  ProxyPass /Shibboleth.sso !

  #RewriteCond %{REQUEST_URI} .*Shibboleth.sso.* [NC]
  #RewriteRule .* - [NC,L,END]
  #ProxyPass /Shibboleth.sso !

  # Dev server - requires separate process running
  ProxyPass        /dev/ "http://127.0.0.1:8200/dev/"
  ProxyPassReverse /dev/ "http://127.0.0.1:8200/dev/"
  # Use RewriteEngine to handle websocket connection upgrades
  RewriteEngine On
  RewriteCond %{HTTP:Connection} Upgrade [NC]
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteRule /dev/(.*) ws://127.0.0.1:8200/dev/$1 [P,L]

  # Live server
  ProxyPass        / "http://127.0.0.1:8000/"
  ProxyPassReverse / "http://127.0.0.1:8000/"
  RewriteEngine On
  RewriteCond %{HTTP:Connection} Upgrade [NC]
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteRule /(.*) ws://127.0.0.1:8000/$1 [P,L]
</VirtualHost>


