# {{ ansible_managed }}

<VirtualHost {{ jupyter_internal_ip }}:80>
  ServerName {{ jupyter_domain_primary }}
  {% if jupyter_domain_alts %} ServerAlias {{ jupyter_domain_alts }}{% endif %}
  ProxyPass        /     "http://127.0.0.1:8081/"
  ProxyPassReverse /     "http://127.0.0.1:8081/"
</VirtualHost>
<VirtualHost {{ jupyter_internal_ip }}:280>
  ServerName {{ jupyter_domain_primary }}
  {% if jupyter_domain_alts %} ServerAlias {{ jupyter_domain_alts }}{% endif %}
  # Dev server only
  ProxyPass        /dev/ "http://127.0.0.1:8281/dev/"
  ProxyPassReverse /dev/ "http://127.0.0.1:8281/dev/"
</VirtualHost>



<VirtualHost {{ jupyter_external_ip }}:80>
  ServerName {{ jupyter_domain_primary }}
  {% if jupyter_domain_alts %} ServerAlias {{ jupyter_domain_alts }}{% endif %}
  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</VirtualHost>

<VirtualHost {{ jupyter_external_ip }}:443>
  ServerName {{ jupyter_domain_primary }}
  {% if jupyter_domain_alts %} ServerAlias {{ jupyter_domain_alts }}{% endif %}

  SSLEngine On
  #SSLAppName QIBM_HTTP_SERVER_APPNAME
  #SSLClientAuth None
  SetEnv HTTPS_PORT 443
  SSLCipherSuite HIGH:!aNULL:!MD5
  SSLProtocol all -SSLv2 -SSLv3 -TLSv1
  Header always set Strict-Transport-Security "max-age=604800; includeSubDomains"

  SSLCertificateKeyFile {{ apache_key }}
  SSLCertificateFile {{ apache_crt }}
  SSLCertificateChainFile {{ apache_fullchain }}

  ProxyPreserveHost on

#  # Testing only
#  <Location "/cgi-bin/">
#    AuthType shibboleth
#    ShibRequestSetting requireSession 1
#    Require valid-user
#    ShibUseHeaders On
#  </Location>
#  ScriptAlias "/cgi-bin/" "/var/www/cgi-bin/"
#  ProxyPass /cgi-bin !

  <Location "/dev/hub/login">
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    Require valid-user
    ShibUseHeaders On
  </Location>
  <Location /Shibboleth.sso>
    SetHandler shib
  </Location>
  # Don't reverse proxy this location
  ProxyPass /Shibboleth.sso !

  #RewriteCond %{REQUEST_URI} .*Shibboleth.sso.* [NC]
  #RewriteRule .* - [NC,L,END]
  #ProxyPass /Shibboleth.sso !

  # Dev server - requires separate process running
  #<Location /dev>
  #  Require all granted
  #  Require ip {{ jhub_dev_ip_range }}
  #</Location>
  ProxyPass        /dev/ "http://127.0.0.1:8200/dev/"
  ProxyPassReverse /dev/ "http://127.0.0.1:8200/dev/"
  # Use RewriteEngine to handle websocket connection upgrades
  RewriteEngine On
  RewriteCond %{HTTP:Connection} Upgrade [NC]
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteRule /dev/(.*) ws://127.0.0.1:8200/dev/$1 [P,L]

  # Live server
  ProxyPass        /     "http://127.0.0.1:8000/"
  ProxyPassReverse /     "http://127.0.0.1:8000/"
  RewriteEngine On
  RewriteCond %{HTTP:Connection} Upgrade [NC]
  RewriteCond %{HTTP:Upgrade} websocket [NC]
  RewriteRule /(.*) ws://127.0.0.1:8000/$1 [P,L]
</VirtualHost>


